body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #9c9494;
}

.category-selection-container {
    margin-top: 50px;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

#category-select {
    width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.category-selection-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.start-button {
    padding: 12px 30px;
    background-color: #af4c96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #a04582;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-box {
    background-color: #583058;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.question-header h1 {
    font-size: 24px;
    margin: 0;
}

.options-container label {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d157a2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-container label:hover {
    background-color: #a045a0;
}

.options-container label.selected {
    background-color: #6c2058;
}

.submit-button {
    padding: 10px 20px;
    background-color: #1d1b1c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #aa7baa;
}

.countdown-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}





